<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <section class="user">
      <h1>
        <a href="./list">返回列表页</a>
        <%= title %>
        <a href="../" id="logOut">注销</a>
        <a id="goBackSelf">返回个人主页</a>
      </h1>
      <ul class="nav">
        <li id="forDateFilter">日期</li>
        <li id="forTitleFilter">标题</li>
        <li id="forKeywordFilter">关键字</li>
      </ul>
      <% if (data.creatAtArr.length > 0) { %>
      <div id="forDate">
        <ul>
          <% for(var i = 0; i < data.creatAtArr.length; i++){ %>
          <li style="display: flex; justify-content: space-between; margin-top: 5px;">
            <a href="./msg?creatAt=<%= data[data.creatAtArr[i]].creatAt %>&userName=<%= data[data.creatAtArr[i]].userName %>">
              <%= new Date(+data[data.creatAtArr[i]].creatAt).getFullYear() %>/<%= new Date(+data[data.creatAtArr[i]].creatAt).getMonth() + 1 %>/<%= new Date(+data[data.creatAtArr[i]].creatAt).getDate() %>
            </a>
            <div style="display: inline-block">
              <a class="edit" data-id="<%= data[data.creatAtArr[i]].creatAt %>">编辑</a>
              <a class="del" data-id="<%= data[data.creatAtArr[i]].creatAt %>">删除</a>
            </div>
          </li>
          <% } %>
        </ul>
      </div>
      <div id="forTitle">
        <ul>
          <% for(var j = 0; j < data.creatAtArr.length; j++){ %>
          <li>
            <a href="./msg?creatAt=<%= data[data.creatAtArr[j]].creatAt %>&userName=<%= data[data.creatAtArr[j]].userName %>">
              <%= data[data.creatAtArr[j]].title %>
            </a>
          </li>
          <% } %>
        </ul>
      </div>
      <div id="forKeyword">
        <ul>
          <% for(var k = 0; k < data.creatAtArr.length; k++){ %>
          <li>
            <a href="./msg?creatAt=<%= data[data.creatAtArr[k]].creatAt %>&userName=<%= data[data.creatAtArr[k]].userName %>">
              <%= data[data.creatAtArr[k]].keyword %>
            </a>
          </li>
          <% } %>
        </ul>
      </div>
      <% } else { %>
      暂无数据
      <% } %>

      <a href="../add" id="addMsg">添加</a>
    </section>
  </body>
</html>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<script type="text/javascript" src="/js/detail.js"></script>
